* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/fondo3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
}

#fondo {
  padding-bottom: 800px;
}

/* desktops */
@media screen and (min-width: 1023px) {
  #areas {
    display: grid;
    grid-template-areas: "cabeza cabeza" "menu fondo" "menu fotos" "footer footer";
    grid-template-columns: 15% auto;
    grid-template-rows: 1fr 3fr 3fr 1fr;
  }
  header {
    grid-area: cabeza;
  }
  #fondo {
    grid-area: fondo;
  }
  #areaimg {
    grid-area: fotos;
  }
  nav {
    grid-area: menu;
  }
  footer {
    grid-area: footer;
  }
  /* header*/
  .titulo {
    background-color: #4f7381;
  }
  .titulo .tituloFlex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titulo .tituloFlex img {
    height: 90px;
    margin-right: 15px;
    animation: saltar 4s infinite;
    animation-name: saltar;
  }
  .titulo .tituloFlex h1 {
    font-size: 50px;
    color: rgb(226, 220, 220);
    font-family: "Rock Salt", cursive;
  }
  @keyframes saltar {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateX(0px);
    }
  }
  /*  menu  */
  .menuFlex {
    background-color: #7fa99b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .menuFlex .transf-menu {
    transition: all 0.2s;
  }
  .menuFlex .transf-menu:hover {
    font-size: 40px;
  }
  .menuFlex .linkMenu {
    font-size: 30px;
    color: rgb(252, 247, 247);
    text-decoration: none;
    text-align: center;
    font-family: "Quicksand", sans-serif;
  }
  /*  footer  */
  /*MAPS*/
  .facebook {
    background-color: rgb(97, 97, 148);
  }
  .instagram {
    background-color: rgb(191, 146, 212);
  }
  .telefono {
    background-color: rgb(161, 199, 183);
  }
  .uno {
    background-color: #c9defa;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .uno img {
    height: 50px;
  }
  /* INDEX */
  #fondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/fondo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #fondo h2 {
    color: white;
    text-align: center;
  }
  /*  bootstrap   */
  #container {
    background-color: #7fa99b;
    display: flex;
    justify-content: center;
  }
  #container .carousel {
    max-width: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }
  #container .carousel img {
    max-width: 600px;
    min-height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }
  #container .carousel, #container .boton-menu {
    font-size: 2em;
    background: black;
    color: rgb(63, 238, 156);
    padding: 20px;
    border-radius: 30px;
    text-align: center;
  }
  #container .carousel:hover, #container .boton-menu:hover {
    color: rgb(238, 255, 0);
  }
  /*quienes somos*/
  .quienes-somos {
    background-color: rgba(255, 255, 255, 0.774);
    text-align: center;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .quienes-somos p {
    font-size: 20px;
  }
  /* ubicacion */
  /*MIXIN*/
  .mapa {
    text-align: center;
  }
  .mapa p {
    color: white;
    font-size: 50px;
  }
  .mapa iframe {
    height: 600px;
    width: 800px;
  }
  /* Comidas */
  .comidas {
    max-width: 960px;
    margin: 0 auto;
  }
  .comidas #imagen-comida {
    background-image: linear-gradient(#4f7381, #7fa99b, #7fa99b);
    padding: 100px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
    /*EXTEND*/
  }
  .comidas #imagen-comida .caja-uno, .comidas #imagen-comida .caja-cuatro, .comidas #imagen-comida .caja-tres, .comidas #imagen-comida .caja-dos {
    max-width: 500px;
    height: auto;
    border: solid 4px rgb(0, 132, 255);
    margin-left: 100px;
    display: block;
  }
  .comidas #imagen-comida .caja-dos {
    border: solid 4px rgb(15, 192, 133);
  }
  .comidas #imagen-comida .caja-tres {
    border: solid 4px rgb(75, 7, 75);
  }
  .comidas #imagen-comida .caja-cuatro {
    max-width: 600px;
    border: solid 4px yellow;
  }
  .comidas #imagen-comida cite {
    font-size: 20px;
    margin: 20px;
  }
  /* Postres */
  #postres {
    text-align: center;
    background-image: linear-gradient(rgba(79, 115, 129, 0.7058823529), rgba(127, 169, 155, 0.5411764706), rgba(127, 169, 155, 0.3882352941));
    padding: 20px;
    margin: 40px;
    border-radius: 20;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #postres img {
    max-width: 500px;
    height: auto;
    padding: 0;
    margin: 0 auto;
  }
  /* vegetariano */
  .vegetariano {
    background-image: linear-gradient(rgba(79, 115, 129, 0.8431372549), rgba(127, 169, 155, 0.7529411765), rgba(127, 169, 155, 0.6901960784));
    padding: 20px;
    margin: 40px;
    border-radius: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .vegetariano img {
    max-width: 500px;
    padding: 0;
    height: auto;
    margin: 0 auto;
  }
  .vegetariano cite {
    color: rgb(252, 247, 247);
  }
}
/* Tablets */
@media screen and (max-width: 480px), (max-width: 1023px) {
  #areas {
    display: grid;
    grid-template-areas: "header" "menu" "fondo" "fotos" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
  }
  .border {
    border: 1px solid black;
  }
  header {
    grid-area: header;
  }
  #fondo {
    grid-area: fondo;
  }
  #areaimg {
    grid-area: fotos;
  }
  nav {
    grid-area: menu;
  }
  footer {
    grid-area: footer;
  }
  /* header*/
  .titulo {
    background-color: #4f7381;
  }
  .titulo .tituloFlex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titulo .tituloFlex img {
    height: 90px;
    margin-right: 15px;
    animation: saltar 4s infinite;
    animation-name: saltar;
  }
  .titulo .tituloFlex h1 {
    font-size: 50px;
    color: rgb(226, 220, 220);
    font-family: "Rock Salt", cursive;
  }
  @keyframes saltar {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateX(0px);
    }
  }
  /* menu  */
  .menuFlex {
    background-color: #7fa99b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .menuFlex .transf-menu {
    transition: all 0.2s;
  }
  .menuFlex .transf-menu:hover {
    font-size: 40px;
  }
  .menuFlex .linkMenu {
    font-size: 30px;
    color: rgb(252, 247, 247);
    text-decoration: none;
    text-align: center;
    font-family: "Quicksand", sans-serif;
  }
  /* footer */
  .uno {
    background-color: #c9defa;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .uno img {
    height: 50px;
  }
  /* /* INDEX* */
  #fondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/fondo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #fondo h2 {
    color: white;
    text-align: center;
  }
  /*BOOTSTRAP*/
  #container {
    background-color: #7fa99b;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 100%;
  }
  #container .carousel {
    width: 100%;
  }
  #container .carousel img {
    width: 100%;
  }
  .carousel, .boton-menu {
    font-size: 2em;
    background: black;
    color: rgb(63, 238, 156);
    padding: 20px;
    border-radius: 30px;
    text-align: center;
  }
  .carousel:hover, .boton-menu:hover {
    color: rgb(238, 255, 0);
  }
  /* quienes somos*/
  .quienes-somos {
    background-color: rgba(255, 255, 255, 0.774);
    text-align: center;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .quienes-somos p {
    font-size: 20px;
  }
  /*  ubicacion  */
  .mapa {
    text-align: center;
  }
  .mapa p {
    color: white;
    font-size: 20px;
  }
  /*  Comidas  */
  .comidas {
    max-width: 500px;
    margin: 0 auto;
  }
  .comidas #imagen-comida {
    background-image: linear-gradient(#4f7381, #7fa99b, #7fa99b);
    padding: 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
  }
  .comidas #imagen-comida .tablet {
    max-width: 300px;
    height: auto;
    border: solid 4px rgb(0, 132, 255);
    margin-left: 50px;
    display: block;
  }
  /* Postres */
  #postres {
    text-align: center;
    background-image: linear-gradient(#4f7381, #7fa99b, #7fa99b);
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #postres img {
    max-width: 300px;
    padding: 0;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  /* vegetariano */
  .vegetariano {
    padding: 20px;
    margin: 40px;
    background-image: linear-gradient(#4f7381, #7fa99b, #7fa99b);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vegetariano img {
    max-width: 300px;
    padding: 0;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}
/* smartphones */
@media screen and (max-width: 480px) {
  #areas {
    display: grid;
    grid-template-areas: "header" "menu " "fondo" "fotos" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
  }
  .border {
    border: 1px solid black;
  }
  header {
    grid-area: header;
  }
  #fondo {
    grid-area: fondo;
  }
  #areaimg {
    grid-area: fotos;
  }
  nav {
    grid-area: menu;
  }
  footer {
    grid-area: footer;
  }
  /* header */
  .titulo {
    background-color: #4f7381;
  }
  .titulo .tituloFlex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titulo .tituloFlex img {
    height: 90px;
    margin-right: 15px;
    animation: saltar 4s infinite;
    animation-name: saltar;
  }
  .titulo .tituloFlex h1 {
    font-size: 50px;
    color: rgb(226, 220, 220);
    font-family: "Rock Salt", cursive;
  }
  @keyframes saltar {
    from {
      transform: translateY(10px);
    }
    to {
      transform: translateX(0px);
    }
  }
  /*menu*/
  .menuFlex {
    background-color: #7fa99b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .menuFlex .transf-menu {
    transition: all 0.2s;
  }
  .menuFlex .transf-menu:hover {
    font-size: 40px;
  }
  .menuFlex .linkMenu {
    margin: 20px;
    font-size: 30px;
    color: rgb(252, 247, 247);
    text-decoration: none;
    text-align: center;
    font-family: "Quicksand", sans-serif;
  }
  /* /* footer  */
  .uno {
    background-color: #c9defa;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .uno img {
    height: 50px;
  }
  /* INDEX* */
  #fondo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/fondo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #fondo h2 {
    color: white;
    text-align: center;
  }
  /*bootstrap*/
  #container {
    background-color: #7fa99b;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 100%;
  }
  .carousel, .boton-menu {
    width: 100%;
    font-size: 1em;
    background: black;
    color: rgb(63, 238, 156);
    padding: 10px;
    border-radius: 30px;
    text-align: center;
  }
  .carousel, .boton-menu:hover {
    color: rgb(238, 255, 0);
  }
  /* /* quienes somos* */
  .quienes-somos {
    background-color: rgba(255, 255, 255, 0.774);
    text-align: center;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .quienes-somos p {
    font-size: 20px;
  }
  /* /* ubicacion * */
  .mapa {
    text-align: center;
  }
  .mapa p {
    color: white;
    font-size: 20px;
  }
  .mapa iframe {
    height: 600px;
    width: 100%;
  }
  /* Comidas */
  .comidas {
    max-width: 500px;
    margin: 0 auto;
  }
  .comidas #imagen-comida {
    background-image: linear-gradient(#4f7381, #7fa99b, #7fa99b);
    padding: 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    display: grid;
  }
  .comidas #imagen-comida .tablet {
    max-width: 200px;
    height: auto;
    border: solid 4px rgb(0, 132, 255);
    margin-left: 50px;
    display: block;
  }
  /* Postres */
  #postres {
    text-align: center;
    background-image: linear-gradient(#4f7381, #7fa99b, #7fa99b);
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #postres img {
    max-width: 200px;
    padding: 0;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  /* vegetariano*/
  .vegetariano {
    padding: 20px;
    margin: 40px;
    background-image: linear-gradient(#4f7381, #7fa99b, #7fa99b);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vegetariano img {
    max-width: 100px;
    padding: 0;
    height: auto;
    margin: 0 auto;
    display: block;
  }
}

/*# sourceMappingURL=estilos.css.map */
