/* Error: From line 44, column 9 of scss\media\_mediaq.scss: 
 *    ╷
 * 44 │         .logo{
 *    │         ^^^^^
 *    ╵
 * You may not @extend selectors across media queries.
 *     ,
 * 301 |                @extend .logo;
 *     |                ^^^^^^^^^^^^^
 *     '
 *   scss\media\_mediaq.scss 301:16  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: From line 44, column 9 of scss\\media\\_mediaq.scss: \a    \2577 \a 44 \2502          .logo{\d\a    \2502          ^^^^^\a    \2575 \aYou may not @extend selectors across media queries.\a     \2577 \a 301 \2502                 @extend .logo;\d\a     \2502                 ^^^^^^^^^^^^^\a     \2575 \a   scss\\media\\_mediaq.scss 301:16  root stylesheet";
}
