@import "../media/variables";

/* desktops */
@media screen and (min-width: 1023px){
    #areas{
       display: grid;
       grid-template-areas: 
       "cabeza cabeza"
       "menu fondo"
       "menu fotos"
       "footer footer";
       grid-template-columns: 15% auto ;
       grid-template-rows: 1fr 3fr  3fr 1fr ;
   }


header{
   grid-area: cabeza;
}

#fondo{
   grid-area: fondo;
}

#areaimg{
   grid-area: fotos;
}

nav{
   grid-area: menu;
}

footer{
   grid-area: footer;
}


/* header*/
.titulo{
    background-color: $fondo-header;
    .tituloFlex{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 90px;
            margin-right: 15px ;
            animation: saltar 4s infinite;
            animation-name: saltar;
        }
        h1{
            font-size: 50px;
            color: $color-titulo;
            font-family: 'Rock Salt', cursive;
        }
    }
}
@keyframes saltar {
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateX(0px);
    }
}

/*  menu  */
.menuFlex{
    background-color: $fondo-menu;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .transf-menu{
        transition: all 0.2s;
        &:hover{
            font-size: 40px;
        }
    }
    .linkMenu{
        font-size: 30px;
        color: $link-menu;
        text-decoration: none;
        text-align: center;
        font-family: 'Quicksand', sans-serif;;
    }    
}
/*  footer  */
/*MAPS*/
$footer:(
    facebook: rgb(97, 97, 148),
    instagram: rgb(191, 146, 212),
    telefono: rgb(161, 199, 183),
);
@each $nombre,$valor in $footer {
    .#{$nombre}{
        background-color: $valor;
    }
}
.uno{
    background-color: $fondo-footer;

    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        height: 50px;
    }
}

/* INDEX */

#fondo{ 
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url(../img/fondo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    justify-content: center;
    align-items: center;
    h2{
        color: $subtitulo;
        text-align: center;
    }
}
/*  bootstrap   */
#container{
    background-color: $fondo-menu;
    display:flex; 
    justify-content: center;
    .carousel{
        max-width: 600px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        img{
            max-width: 600px;
            min-height: 400px;
        
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        }
    }
    .carousel ,.boton-menu{
        font-size: 2em;
        background: $carrousel;
        color: $boton-carousel;
        padding: 20px;
        border-radius: 30px;
        text-align: center;
        &:hover{
            color: $carrousel-boton;
       }
    }
}

 /*quienes somos*/
.quienes-somos{
     background-color: rgba(255, 255, 255, 0.774);
     text-align: center;


     margin: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     p{
        font-size: 20px;
     }
 }
 /* ubicacion */

 /*MIXIN*/
 @mixin mapa ($altura,$ancho){
    height: $altura;
    width: $ancho;
 }
.mapa{
     text-align: center;
     p{
        color: white;
        font-size: 50px;
    }
    iframe{
        @include mapa(600px,800px)
         }
 }
 /* Comidas */
.comidas{
    max-width: 960px;
    margin: 0 auto;
    #imagen-comida{
        background-image: linear-gradient( $fondo-header, $fondo-menu, $fondo-menu );
        padding: 100px; 
        border-radius: 20px; 
        margin-top: 20px; 
        margin-bottom: 100px;
        text-align: center;
        display: grid;
        .caja-uno{
            max-width: 500px;
            height: auto;
            border: solid 4px rgb(0, 132, 255);
            margin-left: 100px;
            display: block;
        }
        /*EXTEND*/
        .caja-dos{
            @extend .caja-uno;
            border: solid 4px rgb(15, 192, 133);
        }
        .caja-tres{
            @extend .caja-uno;
            border: solid 4px rgb(75, 7, 75);
        }
        .caja-cuatro{
            @extend .caja-uno;
            max-width: 600px;
            border: solid 4px yellow;
        }
        cite{
            font-size: 20px;
            margin: 20px;
        }
    }
}
 /* Postres */

#postres{
     text-align: center;
     background-image: linear-gradient( #4f7381b4, #7fa99b8a, #7fa99b63 );
     padding: 20px;
     margin: 40px;
     border-radius: 20;

     display: flex;
     flex-direction: column-reverse;
     justify-content: center;
     align-items: center;
     img{
    max-width: 500px;
    height: auto;
    padding:0 ;
    margin: 0 auto;
    }
 }
 /* vegetariano */
.vegetariano{
    background-image: linear-gradient( #4f7381d7, #7fa99bc0, #7fa99bb0 );
    padding: 20px;
    margin: 40px;
    border-radius: 50px;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    img{
        max-width: 500px;
        padding: 0;
        height: auto;
        margin: 0 auto;
    }
    cite{
        color: $link-menu;
    }
 }
}
                /* Tablets */
 @media screen and (max-width: 480px),(max-width: 1023px){
     #areas{
         display: grid;
         grid-template-areas: 
         "header"
         "menu"
         "fondo"
         "fotos"
         "footer"
                  ;
        grid-template-columns: 100%;
         grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
 
         grid-column-gap: 10px;
         grid-row-gap:  5px;
    }
    .border{
     border: 1px solid black; 
     }
    
     header{
       grid-area: header;
    }
    
     #fondo{
        grid-area: fondo;
     }
    
     #areaimg{
        grid-area: fotos;
    }
    
     nav{
        grid-area: menu;
     }
    
     footer{
        grid-area: footer;
     }
    
    /* header*/
.titulo{
        background-color: $fondo-header;
        .tituloFlex{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 90px;
                margin-right: 15px ;
                animation: saltar 4s infinite;
                animation-name: saltar;
            }
            h1{
                font-size: 50px;
                color: $color-titulo;
                font-family: 'Rock Salt', cursive;;
            }
        }
    }
 @keyframes saltar {
        from{
            transform: translateY(10px);
        }
        to{
            transform: translateX(0px);
        }
    }    
 /* menu  */

 .menuFlex{
     background-color: $fondo-menu;
    
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     .transf-menu{
        transition: all 0.2s;
        &:hover{
            font-size: 40px;
        }
    }
    .linkMenu{
        font-size: 30px;
        color: $link-menu;
        text-decoration: none;
        text-align: center;
        font-family: 'Quicksand', sans-serif;;
    }
}
 /* footer */
 .uno{
     background-color: $fondo-footer;
     width: 100%;
     display: flex;
     align-items: flex-end;
     justify-content: space-between;
     img{
        height: 50px;
    }
 }

 /* /* INDEX* */

 #fondo{ 
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/fondo3.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;

     display: flex;
     justify-content: center;
     align-items: center;
     h2{
        color: $subtitulo;
        text-align: center;
    }
 }
 /*BOOTSTRAP*/
 #container{
     background-color: $fondo-menu;
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: 100% 100%;
     .carousel{
        width: 100%;
        img{
           width: 100%;
       }
    } 
 }
 .carousel ,.boton-menu{
     font-size: 2em;
     background: $carrousel;
     color: $boton-carousel;
     padding: 20px;
     border-radius: 30px;
     text-align: center;
     &:hover{
        color: $carrousel-boton;
     }
 }


 /* quienes somos*/
 .quienes-somos{
     background-color: rgba(255, 255, 255, 0.774);
     text-align: center;


     margin: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     p{
        font-size: 20px;
     }
 }
 /*  ubicacion  */
 .mapa{
     text-align: center;
     p{
        color: white;
        font-size: 20px;
    }
 }
 
 /*  Comidas  */
.comidas{
    max-width: 500px;
    margin: 0 auto;
    #imagen-comida{
        background-image: linear-gradient( $fondo-header, $fondo-menu, $fondo-menu );
        padding: 50px; 
        border-radius: 20px; 
        margin-top: 20px; 
        margin-bottom: 100px;
        text-align: center;
        display: grid;
        .tablet{
            max-width: 300px;
            height: auto;
            border: solid 4px rgb(0, 132, 255);
            margin-left: 50px;
            display: block;
    }
}
}

 /* Postres */
#postres{
     text-align: center;
     background-image: linear-gradient( $fondo-header, $fondo-menu, $fondo-menu );
     padding: 20px;
     margin: 40px;

     display: flex;
     justify-content: center;
     align-items: center;
     img{
        max-width: 300px;
        padding: 0;
        height: auto;
        margin: 0 auto;
        display: block;
    }
 }
 /* vegetariano */

.vegetariano{
    
    padding: 20px;
    margin: 40px;
    background-image: linear-gradient( $fondo-header, $fondo-menu, $fondo-menu );
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        max-width: 300px;
        padding: 0;
        height: auto;
        margin: 0 auto;
        display: block;
    }
}
}

             /* smartphones */
            
 @media screen and  (max-width: 480px){
     #areas{
        display: grid;
        grid-template-areas: 
        "header"
        "menu "
        "fondo"
        "fotos"
        "footer"
                 ;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 2fr 2fr 1fr;

        grid-column-gap: 10px;
        grid-row-gap:  5px;
    }
    .border{
     border: 1px solid black; 
     }
    
     header{
        grid-area: header;
     }
    
     #fondo{
        grid-area: fondo;
     }
    
     #areaimg{
        grid-area: fotos;
     }
    
     nav{
       grid-area: menu;
    }
    
     footer{
        grid-area: footer;
     }
     /* header */
     .titulo{
        background-color: $fondo-header;
        .tituloFlex{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 90px;
                margin-right: 15px ;
                animation: saltar 4s infinite;
                animation-name: saltar;
            }
            h1{
                font-size: 50px;
                color: $color-titulo;
                font-family: 'Rock Salt', cursive;;
            }    
        }
    }
@keyframes saltar {
        from{
             transform: translateY(10px);
         }
         to{
             transform: translateX(0px);
         }
    }  
    /*menu*/
   
     .menuFlex{
         background-color: $fondo-menu;
    
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
         .transf-menu{
            transition: all 0.2s;
            &:hover{
                font-size: 40px;
            }
        }
        .linkMenu{
            margin: 20px;
            font-size: 30px;
            color: $link-menu;
            text-decoration: none;
            text-align: center;
            font-family: 'Quicksand', sans-serif;;
        }
       
     }
    
     /* /* footer  */
     .uno{
         background-color: $fondo-footer;
    
         display: flex;
         align-items: center;
         justify-content: space-around;
         img{
            height: 50px;
         }
    }
     
    /* INDEX* */
    
 #fondo{ 
         background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/fondo3.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-attachment: fixed;

         display: flex;
         justify-content: center;
         align-items: center;
         h2{
            color: $subtitulo;
            text-align: center;
        }
     }
     /*bootstrap*/
     #container{
         background-color: $fondo-menu;
         display: grid;
         grid-template-columns: 100%;
         grid-template-rows: 100% 100%;
     }
     .carousel ,.boton-menu{
         width: 100%;
         font-size: 1em;
         background: $carrousel;
         color: $boton-carousel;
         padding: 10px;
         border-radius: 30px;
         text-align: center;
     }
     .carousel ,.boton-menu:hover{
         color: $carrousel-boton;
     }
     /* /* quienes somos* */
     .quienes-somos{
         background-color: rgba(255, 255, 255, 0.774);
         text-align: center;
    
    
         margin: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         p{
            font-size: 20px;
         }
     }
     /* /* ubicacion * */
     .mapa{
         text-align: center;
         p{
            color: white;
            font-size: 20px;
        }
        iframe{
            height: 600px;
            width: 100%;              
       }
     }
     /* Comidas */
 .comidas{
        max-width: 500px;
        margin: 0 auto;
        #imagen-comida{
            background-image: linear-gradient( $fondo-header, $fondo-menu, $fondo-menu );
            padding: 50px; 
            border-radius: 20px; 
            margin-top: 20px; 
            margin-bottom: 100px;
            text-align: center;
            display: grid;
            .tablet{
                max-width: 200px;
                height: auto;
                border: solid 4px rgb(0, 132, 255);
                margin-left: 50px;
                display: block;
        }
    }
    }
     /* Postres */
     #postres{
        text-align: center;
        background-image: linear-gradient( $fondo-header, $fondo-menu, $fondo-menu );
        padding: 20px;
        margin: 40px;
   
        display: flex;
        justify-content: center;
        align-items: center;
        img{
           max-width: 200px;
           padding: 0;
           height: auto;
           margin: 0 auto;
           display: block;
       }
    }
     /* vegetariano*/
     .vegetariano{
    
        padding: 20px;
        margin: 40px;
        background-image: linear-gradient( $fondo-header, $fondo-menu, $fondo-menu );
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 100px;
            padding: 0;
            height: auto;
            margin: 0 auto;
            display: block;
        }
    }
 }


