@import "../media/variables";
/* desktops */
@media screen and (min-width: 1023px){
    #areas{
       display: grid;
       grid-template-areas: 
       "cabeza cabeza"
       "menu fondo"
       "menu fotos"
       "footer footer";
       grid-template-columns: 15% auto ;
       grid-template-rows: 1fr 3fr  3fr 1fr ;
   }


header{
   grid-area: cabeza;
}

#fondo{
   grid-area: fondo;
}

#areaimg{
   grid-area: fotos;
}

nav{
   grid-area: menu;
}

footer{
   grid-area: footer;
}


/* header*/
.titulo{
    background-color: $fondo-header;
    .tituloFlex{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 90px;
            margin-right: 15px ;
            animation: saltar 4s infinite;
            animation-name: saltar;
        }
        @keyframes saltar {
            from{
                transform: translateY(10px);
            }
            to{
                transform: translateX(0px);
            }
        }
        h1{
            font-size: 50px;
            color: $color-titulo;
            font-family: 'Rock Salt', cursive;
        }
    }
}

/*  menu  */
.menuFlex{
    background-color: $fondo-menu;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .transf-menu{
        transition: all 0.2s;
        &:hover{
            font-size: 40px;
        }
    }
    .linkMenu{
        font-size: 30px;
        color: $link-menu;
        text-decoration: none;
        text-align: center;
        font-family: 'Quicksand', sans-serif;;
    }    
}

/*  footer  */
.uno{
    background-color: $fondo-footer;

    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        height: 50px;
    }
}

/* INDEX */

#fondo{ 
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) ,url(../img/fondo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


    display: flex;
    justify-content: center;
    align-items: center;
    h2{
        color: $subtitulo;
        text-align: center;
    }
}
/*  bootstrap   */
#container{
    background-color: $fondo-menu;
    display:flex; 
    justify-content: center;
    .carousel{
        max-width: 600px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        img{
            max-width: 600px;
            min-height: 400px;
        
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        }
    }
    .carousel ,.boton-menu{
        font-size: 2em;
        background: $carrousel;
        color: $boton-carousel;
        padding: 20px;
        border-radius: 30px;
        text-align: center;
        &:hover{
            color: $carrousel-boton;
       }
    }
}


}
// /* /* quienes somos
// .quienes-somos{
//     background-color: rgba(255, 255, 255, 0.774);
//     text-align: center;


//     margin: 40px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
// }
// .uno{
//     background-color: #c9defa;

//     display: flex;
//     align-items: center;
//     justify-content: space-around;
// }

// .pie img{
//     height: 50px;
// }
// /* /* ubiacion * */
// .mapa{
//     text-align: center;
// }
// .mapa p{
//     color: white;
//     font-size: 50px;
// }
// .mapa iframe{
//  height: 600px;
//  width: 800px;
  
// }
// /* /* Comidas * */
// #imagen-comida img{
//     max-width: 500px;
//     height: auto;
//     margin: 0 auto;
//     display: block;
// }
// #imagen-comida{ 
//     text-align: center;
//     background: rgba(255, 253, 253, 0.493);
//     padding: 0;
//     margin: 40px;

//     background-color: rgba(255, 255, 255, 0.774);
//     text-align: center;


//     margin: 40px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column-reverse;
// }
// cite{
//     font-size: 30px;
//     font-family: 'Rock Salt', cursive;
// }
// /* Postres */
// #postres img{
//     max-width: 500px;
//     padding: 0;
//     height: auto;
//     margin: 0 auto;
//     display: block;
// }
// #postres{
//     text-align: center;
//     background: rgba(255, 253, 253, 0.493);
//     padding: 20px;
//     margin: 40px;

//     display: flex;
//     flex-direction: column-reverse;
//     justify-content: center;
//     align-items: center;
// }
// /* vegetariano */
// .vegetariano img{
//     max-width: 500px;
//     padding: 0;
//     height: auto;
//     margin: 0 auto;
// }
// .vegetariano{
//     background: rgba(255, 253, 253, 0.493);
//     padding: 20px;
//     margin: 40px;

//     display: flex;
//     flex-direction: column-reverse;
//     justify-content: center;
//     align-items: center;
// }

// }


                /* Tablets */
 @media screen and (max-width: 480px),(max-width: 1023px){
     #areas{
         display: grid;
         grid-template-areas: 
         "header"
         "menu"
         "fondo"
         "fotos"
         "footer"
                  ;
        grid-template-columns: 100%;
         grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
 
         grid-column-gap: 10px;
         grid-row-gap:  5px;
    }
    .border{
     border: 1px solid black; 
     }
    
     header{
       grid-area: header;
    }
    
     #fondo{
        grid-area: fondo;
     }
    
     #areaimg{
        grid-area: fotos;
    }
    
     nav{
        grid-area: menu;
     }
    
     footer{
        grid-area: footer;
     }
    
    /* header*/
.titulo{
        background-color: $fondo-header;
        .tituloFlex{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 90px;
                margin-right: 15px ;
                animation: saltar 4s infinite;
                animation-name: saltar;
            }
            @keyframes saltar {
                from{
                    transform: translateY(10px);
                }
                to{
                    transform: translateX(0px);
                }
            }
            h1{
                font-size: 50px;
                color: $color-titulo;
                font-family: 'Rock Salt', cursive;;
            }
        }
    }
    
 /* menu  */

 .menuFlex{
     background-color: $fondo-menu;
    
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     .transf-menu{
        transition: all 0.2s;
        &:hover{
            font-size: 40px;
        }
    }
    .linkMenu{
        font-size: 30px;
        color: $link-menu;
        text-decoration: none;
        text-align: center;
        font-family: 'Quicksand', sans-serif;;
    }
}
 /* footer */
 .uno{
     background-color: $fondo-footer;
     width: 100%;
     display: flex;
     align-items: flex-end;
     justify-content: space-between;
     img{
        height: 50px;
    }
 }

 /* /* INDEX* */

 #fondo{ 
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/fondo3.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;

     display: flex;
     justify-content: center;
     align-items: center;
     h2{
        color: $subtitulo;
        text-align: center;
    }
 }
 /*BOOTSTRAP*/
 #container{
     background-color: $fondo-menu;
     display: grid;
     grid-template-columns: 100%;
     grid-template-rows: 100% 100%;
     .carousel{
        width: 100%;
        img{
           width: 100%;
       }
    } 
 }
 .carousel ,.boton-menu{
     font-size: 2em;
     background: $carrousel;
     color: $boton-carousel;
     padding: 20px;
     border-radius: 30px;
     text-align: center;
     &:hover{
        color: $carrousel-boton;
     }
 }

}
// /* /* quienes somos* */
// .quienes-somos{
//     background-color: rgba(255, 255, 255, 0.774);
//     text-align: center;


//     margin: 40px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
// }
// /* /* ubiacion * */
// .mapa{
//     text-align: center;
// }
// .mapa p{
//     color: white;
//     font-size: 20px;
// }
// /* /* Comidas * */
// #imagen-comida img{
//     max-width: 500px;
//     height: auto;
//     margin: 0 auto;
//     display: block;
// }
// #imagen-comida{ 
//     text-align: center;
//     background: rgba(255, 253, 253, 0.493);
//     padding: 0;
//     margin: 40px;

//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// cite{
//     font-size: 30px;
//     font-family: 'Rock Salt', cursive;
// }
// /* Postres */
// #postres img{
//     max-width: 500px;
//     padding: 0;
//     height: auto;
//     margin: 0 auto;
//     display: block;
// }
// #postres{
//     text-align: center;
//     background: rgba(255, 253, 253, 0.493);
//     padding: 20px;
//     margin: 40px;

//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// /* vegetariano */
// .vegetariano img{
//     max-width: 500px;
//     padding: 0;
//     height: auto;
//     margin: 0 auto;
//     display: block;
// }
// .vegetariano{
//     background: rgba(255, 253, 253, 0.493);
//     padding: 20px;
//     margin: 40px;

//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// }



             /* smartphones */
            
 @media screen and  (max-width: 480px){
     #areas{
        display: grid;
        grid-template-areas: 
        "header"
        "menu "
        "fondo"
        "fotos"
        "footer"
                 ;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 2fr 2fr 1fr;

        grid-column-gap: 10px;
        grid-row-gap:  5px;
    }
    .border{
     border: 1px solid black; 
     }
    
     header{
        grid-area: header;
     }
    
     #fondo{
        grid-area: fondo;
     }
    
     #areaimg{
        grid-area: fotos;
     }
    
     nav{
       grid-area: menu;
    }
    
     footer{
        grid-area: footer;
     }
     /* header */
     .titulo{
        background-color: $fondo-header;
        .tituloFlex{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 90px;
                margin-right: 15px ;
                animation: saltar 4s infinite;
                animation-name: saltar;
            }
            @keyframes saltar {
                from{
                     transform: translateY(10px);
                 }
                 to{
                     transform: translateX(0px);
                 }
            }
            h1{
                font-size: 50px;
                color: $color-titulo;
                font-family: 'Rock Salt', cursive;;
            }    
        }
    }
    
    /*menu*/
   
     .menuFlex{
         background-color: $fondo-menu;
    
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-around;
         .transf-menu{
            transition: all 0.2s;
            &:hover{
                font-size: 40px;
            }
        }
        .linkMenu{
            margin: 20px;
            font-size: 30px;
            color: $link-menu;
            text-decoration: none;
            text-align: center;
            font-family: 'Quicksand', sans-serif;;
        }
       
     }
    
     /* /* footer  */
     .uno{
         background-color: $fondo-footer;
    
         display: flex;
         align-items: center;
         justify-content: space-around;
         img{
            height: 50px;
         }
    }
     
    /* INDEX* */
    
 #fondo{ 
         background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/fondo3.jpg);
         background-position: center;
         background-repeat: no-repeat;
         background-attachment: fixed;

         display: flex;
         justify-content: center;
         align-items: center;
         h2{
            color: $subtitulo;
            text-align: center;
        }
     }
     /*bootstrap*/
     #container{
         background-color: $fondo-menu;
         display: grid;
         grid-template-columns: 100%;
         grid-template-rows: 100% 100%;
     }
     .carousel ,.boton-menu{
         width: 100%;
         font-size: 1em;
         background: $carrousel;
         color: $boton-carousel;
         padding: 10px;
         border-radius: 30px;
         text-align: center;
     }
     .carousel ,.boton-menu:hover{
         color: $carrousel-boton;
     }
    }
//     /* /* quienes somos* */
//     .quienes-somos{
//         background-color: rgba(255, 255, 255, 0.774);
//         text-align: center;
    
    
//         margin: 40px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//     }
//     /* /* ubiacion * */
//     .mapa{
//         text-align: center;
//     }
//     .mapa p{
//         color: white;
//         font-size: 20px;
//     }
//     iframe{
//         height: 600px;
//         width: 100%;
//     }
//     /* /* Comidas * */
//     #imagen-comida img{
//         max-width: 100px;
//         height: auto;
//         margin: 0 auto;
//         display: block;
//     }
//     #imagen-comida{ 
//         text-align: center;
//         background: rgba(255, 253, 253, 0.493);
//         padding: 0;
//         margin: 40px;
    
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     cite{
//         font-size: 30px;
//         font-family: 'Rock Salt', cursive;
//     }
//     /* Postres */
//     #postres img{
//         max-width: 100px;
//         padding: 0;
//         height: auto;
//         margin: 0 auto;
//         display: block;
//     }
//     #postres{
//         text-align: center;
//         background: rgba(255, 253, 253, 0.493);
//         padding: 20px;
//         margin: 40px;
    
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     /* vegetariano 
//     .vegetariano img{
//         max-width: 100px;
//         padding: 0;
//         height: auto;
//         margin: 0 auto;
//         display: block;
//     }
//     .vegetariano{
//         background: rgba(255, 253, 253, 0.493);
//         padding: 20px;
//         margin: 40px;
    
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
    
// }


