$color-titulo: rgb(226, 220, 220);
$link-menu: rgb(252, 247, 247);
$subtitulo:white;
$boton-carousel: rgb(63, 238, 156);

$fondo-header:#4f7381;
$fondo-body:#585858 ;
$fondo-menu:#7fa99b ;
$fondo-footer:#c9defa;

$carrousel: black;
$carrousel-boton: rgb(238, 255, 0);
